flask==3.0.0
flask-cors==4.0.0
transformers==4.35.0
--extra-index-url https://download.pytorch.org/whl/cpu
torch>=2.2.0,<3.0.0
requests==2.31.0
python-dotenv==1.0.0
accelerate==0.24.1
backoff==2.2.1
numpy<2.0.0
mysql-connector-python==8.2.0

